* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}
html::-webkit-scrollbar {
  width: 1rem;
  background-color: #29d9d5;
}
html::-webkit-scrollbar-track {
  background-color: #111;
}
html::-webkit-scrollbar-thumb {
  background-color: #29d9d5;
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: #111;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 3rem 9%;
  margin-top: 5rem;
}
@media (max-width: 991px) {
  section {
    padding: 3rem 2rem;
  }
}

::-webkit-input-placeholder {
  text-transform: capitalize;
}

::-moz-placeholder {
  text-transform: capitalize;
}

:-ms-input-placeholder {
  text-transform: capitalize;
}

::-ms-input-placeholder {
  text-transform: capitalize;
}

::placeholder {
  text-transform: capitalize;
}

.container {
  width: 90%;
  margin: auto;
}

ul {
  list-style: none;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #29d9d5;
  padding: 1rem 3rem;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  background: none;
  cursor: pointer;
}
.btn a {
  color: #29d9d5;
}
.btn:hover {
  color: #111;
  background-color: #29d9d5;
}
.btn:hover a {
  color: #111;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}
.heading span {
  color: #29d9d5;
  font-size: 2rem;
}
.heading h1 {
  font-size: 4rem;
  color: #fff;
}

header {
  background-color: #222;
  color: #fff;
  padding: 1.5rem 9%;
  width: 100%;
  z-index: 5000;
}
header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-content .logo {
  font-size: 2.5rem;
  color: #fff;
}
header .header-content .logo .logo-link {
  color: #fff;
}
header .header-content .logo .logo-link .fa-paper-plane {
  color: #29d9d5;
}
header .header-content .nav-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
header .header-content .nav-items ul li a {
  font-size: 1.8rem;
  color: #aaa;
  margin: 0 1rem;
  display: block;
}
header .header-content .nav-items ul li a:hover {
  color: #29d9d5;
}
header .header-content .nav-items ul li.active a {
  color: #29d9d5;
}
header .header-content .btn {
  margin-top: 0;
}
header .header-content .manu-button {
  font-size: 2.5rem;
  color: #fff;
  display: none;
  cursor: pointer;
}

@media (max-width: 786px) {
  header {
    padding: 1.5rem 2rem;
  }
  header .header-content .nav-items {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #222;
  }
  header .header-content .nav-items ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: auto;
  }
  header .header-content .nav-items ul li {
    width: 100%;
  }
  header .header-content .nav-items ul li a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  header .header-content .nav-items.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .header-content .manu-button {
    display: block;
  }
}
.about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 5rem;
}
.about .about-content .video {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 100%;
}
.about .about-content .video video {
  max-width: 100%;
}
.about .about-content .video .video-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.about .about-content .video .video-control span {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #aaa;
  cursor: pointer;
}
.about .about-content .video .video-control span:hover {
  background-color: #29d9d5;
}
.about .about-content .video .video-control span.active {
  background-color: #29d9d5;
}
.about .about-content .info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  margin-bottom: 5rem;
}
.about .about-content .info span {
  color: #29d9d5;
  font-size: 2rem;
}
.about .about-content .info h3 {
  color: #fff;
  font-size: 4rem;
  margin-top: 0.5rem;
}
.about .about-content .info p {
  padding: 1rem;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}
.about .about-content .info p.more-text {
  display: none;
}
.about .about-content .info .more-text.show {
  display: block;
}
.about .about-content .info .show-more-btn {
  cursor: pointer;
  font-size: 1.5rem;
  color: #29d9d5;
  font-weight: bold;
}

.gallery .gallery-box {
  -webkit-columns: 3 25rem;
     -moz-columns: 3 25rem;
          columns: 3 25rem;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}
.gallery .gallery-box .gallery-box-item {
  margin-bottom: 1rem;
  -webkit-column-break-inside: avoid;
     -moz-column-break-inside: avoid;
          break-inside: avoid;
}
.gallery .gallery-box .gallery-box-item img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.gallery .gallery-box .gallery-box-item span {
  font-size: 1.4rem;
  color: #aaa;
}
.gallery .gallery-box .gallery-box-item h3 {
  margin-top: 0.5rem;
  font-size: 2rem;
  color: #fff;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}
.review .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}
.review .content span {
  font-size: 2rem;
  color: #29d9d5;
}
.review .content h3 {
  font-size: 3rem;
  color: #fff;
}
.review .content p {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}
.review .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}
.review .box .box-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: #222;
  padding: 2rem;
  border: 0.2rem solid #111;
}
.review .box .box-item:hover {
  border: 0.2rem solid #29d9d5;
}
.review .box .box-item p {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  line-height: 2;
  color: #aaa;
}
.review .box .box-item .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.review .box .box-item .user img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
.review .box .box-item .user h3 {
  font-size: 1.7rem;
  color: #fff;
}
.review .box .box-item .user span {
  color: #aaa;
  font-size: 1.5rem;
}

@media (max-width: 450px) {
  .about .about-content .info h3 {
    font-size: 3rem;
  }
}
footer {
  background-color: #111;
  color: #fff;
  padding: 1.5rem 9%;
}
footer .footer-content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
footer .footer-content .footer-element {
  padding: 1rem 0;
}
footer .footer-content .footer-element h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: #fff;
}
footer .footer-content .footer-element p {
  font-size: 1.4rem;
  padding: 1rem 0;
  color: #aaa;
  line-height: 2;
}
footer .footer-content .footer-element .fa-solid {
  color: #29d9d5;
  padding-right: 0.5rem;
}
footer .footer-content .first-group .logo {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
}
footer .footer-content .first-group .logo .logo-link {
  color: #fff;
}
footer .footer-content .first-group .logo .logo-link .fa-paper-plane {
  color: #29d9d5;
}
footer .footer-content .first-group ul {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer-content .first-group ul li {
  margin-right: 0.7rem;
}
footer .footer-content .first-group ul li a {
  font-size: 1.7rem;
  color: #29d9d5;
  background-color: none;
  border: 0.2rem solid #29d9d5;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-content .first-group ul li a:hover {
  color: #111;
  background-color: #29d9d5;
}
footer .footer-content .second-group ul li a {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  display: block;
}
footer .footer-content .second-group ul li a:hover {
  color: #29d9d5;
}
footer .footer-content .second-group ul li a:hover .fa-arrow-right {
  padding-right: 2rem;
}
footer .footer-content .second-group ul li .fa-arrow-right {
  color: #29d9d5;
  padding-right: 0.5rem;
}
footer .footer-content .third-group li {
  font-size: 1.4rem;
  padding: 1rem 0;
  color: #aaa;
  line-height: 2;
}
footer .footer-content form .email {
  width: 100%;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  background: none;
  font-size: 1.5rem;
  text-transform: none;
  color: #aaa;
  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
}

.copywrite {
  background: #222;
  color: #aaa;
  font-size: 1.5rem;
  padding: 2rem 1rem;
  text-align: center;
}
.copywrite a {
  color: #29d9d5;
}

@media (max-width: 786px) {
  footer {
    padding: 1.5rem 2rem;
  }
}